{{>_menuAdmin}}
<div class="sub-bar">
  <p>Admin | User Deposits</p>
  <div>{{>_msg}}</div>
</div>
<div class="content">
  <div class="deposits-admin" id="products">
    <h1>Deposits from {{user.username}} </h1>
    <div class="search">
      <div class="left">
        <small>Filter deposits: </small>
        <input type="text" id="myFilter" class="form-control" onkeyup="search()" placeholder="Search by a date...">
      </div>
      <small>{{deposits.length}} Deposits</small>
    </div>
    {{#each deposits}}
    <div class="card">
      <div class="left">
        <img src="/images/deposit.svg" draggable="false">
        <div class="key">
          <small><strong class="title">Date: {{createdAt}}</strong></small>
          <small><strong>Value:</strong> {{total}}$</small>
          <small class="pix"><strong>Pix Key:</strong> 2asodij19dn18912y1987f178d1ki029j</small>
        </div>
      </div>
      <div class="right">
        <small class="{{status}}">{{status}}</small>
      </div>
    </div>
    {{else}}
    <br><br><br><br>
    <p>No Deposits</p>
    {{/each}}
  </div>
</div>

<script src="/js/search.js"></script>