{{>_menuSeller}}
<div class="sub-bar">
    <p>Edit Products</p>
    <div>{{>_msg}}</div>
</div>
<div class="content-addproduct">
    <form action="/seller/editproduct" method="POST" class="form-addproduct" enctype="multipart/form-data">
        <input type="hidden" name="id" id="id" value="{{product._id}}">
        <input type="hidden" name="seller" id="seller" value="{{product.seller}}">

        <label for="title">Product's Name:</label>
        <input type="text" name="title" id="title" value="{{product.title}}">
        <label for="desc">Description:</label>
        <textarea type="text" name="desc" id="desc">{{product.desc}}</textarea>
        <label for="timeToSell">Time for sale:</label>
        <input type="number" name="timeToSell" id="timeToSell" value="{{product.timeToSell}}"></input>
        <label for="price">Price:</label>
        <input type="number" min="1" step="any" name="price" id="price" value="{{product.price}}">
        <label for="quantity">Quantity:</label>
        <input type="number" min="1" step="any" name="quantity" id="quantity" value="{{product.quantity}}">
        <div style="display: flex; justify-content:space-between; align-items:baseline">
            <p>Product Picture: </p>
            <small>Max 1mb</small>
        </div>
        <label class="button-label" for="image" align="center">Send a Picture</label>
        <input type="file" name="image" id="image" accept="image/png, image/jpg" value="1048576">
        <button type="submit">Publish</button>
        {{>_msg}}
        {{#each erros}}
        <div class="msg" align="center">
            <p>{{text}}</p>
        </div>
        {{else}}
        {{/each}}
    </form>
</div>