{{>_menu}}
<div class="sub-bar">
    <p>Your Dashboard</p>
    <div>{{>_msg}}</div>
    {{#each erros}}
    <p class="msg">{{text}}</p>
    {{/each}}
</div>
<div class="content">
    <div class="dasboard_seller">
        <h3>R${{#if wallet}}{{wallet}}{{else}}0{{/if}}</h3>
        <p>Your sales Balance</p>
        <br>
        <button id="deposit">Deposit</button>
    </div>

    <div class="popup-wrapper" id="popup-wrapper">
        <div class="popup-dashboard" id="allDeposits">
            <h4>Select the way to deposit: </h4>
            <div class="buttons">
                <button class="pix" id="openPixPopup">Pix</button>
                <button class="bitcoin" id="openBitPopup">BitCoin</button>
                <button class="litecoin" id="openLitePopup">Litecoin</button>
            </div>
            <button class="close" onclick="closePopup()">Close</button>
        </div>

        <div class="popup-dashboard" id="popupPix">
            <div class="close-buttons">
                <button class="back" onclick="backPopup()">Go Back</button>
                <button class="close" onclick="closePopup()">Close</button>
            </div>
            <p>Deposit quantity</p>
            <form action="/deposit" method="post">
                <input type="hidden" name="username" value="{{username}}">
                <input type="hidden" name="id" value="{{id}}">
                <input type="number" name="total" placeholder="example: R$50">
                <button type="submit" class="send">Send</button>
            </form>
        </div>

        <div class="popup-dashboard" id="popupLite">
            <p>Opening a LiteCoin wallet...</p>
            <p>Wait a minute</p>
            <div class="lds-dual-ring"></div>
        </div>

        <div class="popup-dashboard" id="popupBit">
            <p>Opening a BitCoin wallet...</p>
            <p>Wait a minute</p>
            <div class="lds-dual-ring"></div>
        </div>
    </div>
</div>

<script src="/js/dashboard.js"></script>