{{>_menu}}
<div class="sub-bar">
    <p>Your deposits</p>
    <div>{{>_msg}}</div>
</div>
<div class="content">
    <div class="deposits-admin" id="products">
    <h1>My Deposits</h1>
    <div class="search">
      <div class="left">
        <small>Filter deposits: </small>
        <input type="text" id="myFilter" class="form-control" onkeyup="search()" placeholder="Search by a date...">
      </div>
      <small>{{deposits.length}} Deposits</small>
    </div>
    {{#each deposits}}
    <div class="card">
      <div class="left">
        <img src="/images/deposit.svg" draggable="false">
        <div class="key">
          <small><strong class="title">Date: {{createdAt}}</strong></small>
          <small><strong>Total:</strong> {{total}}R$</small>
          <small class="pix"><strong>Pix Key:</strong> 12345678901234567890123456789012</small>
        </div>
      </div>
      <div class="right">
        <small class="{{status}}">{{status}}</small>
      </div>
    </div>
    {{else}}
    <br><br><br><br>
    <p>No Deposits</p>
    {{/each}}
  </div>
</div>

<script src="/js/search.js"></script>