{{>_menuSuport}}
<div class="sub-bar">
    <div class="sub-update">
        <p>Suport's chat</p>
    </div>
    <div class="msg" align="center">
        <p>{{>_msg}}</p>
        {{#each erros}}
        <p>{{text}}</p>
        {{/each}}
    </div>
</div>
<div class="content-forchat-suport">
    <div class="suport-infoProduct">
        <div class="img">
            <img src="/uploads/{{purchase.productId.image}}" alt="">
        </div>
        <div class="about">
            <h3>{{purchase.productId.title}}</h3>
            <p><strong>Quantity: </strong>{{purchase.units}} itens</p>
            <p><strong>Price: </strong>{{purchase.total}}</p>
            <p><strong>Created At: </strong>{{purchase.createdAt}}</p>
            <p><strong>Cause: </strong> {{dispute.message}}</p>
        </div>
        <div class="users">
            <button id="buyer">Buyer: {{purchase.buyer.username}} </a></button>
            <button id="seller">Seller: {{purchase.seller.username}}</a></button>
        </div>

        <div class="buttons-suport">
            <button id="resolved">Select Result</button>
        </div>
    </div>
    <div class="content-chat">
        <div class="box-messages">
            <div class="list-messages">
                <ul class="ul" id="messages">
                    <li class="li" id="li-messages"></li>
                </ul>
            </div>
            <div class="send">
                <label for="file-input" class="uploadMax">
                    <img src="/images/upload.svg" />
                    <small>Max 1Mb</small>
                </label>
                <input id="file-input" type="file" oninput="uploadImg(this)" accept="image/png, image/jpeg, image/jpg"
                    value="1048576" />
                <textarea class="text" autofocus="" id="menssagem" autocomplete="off"
                    placeholder="Send a message"></textarea>
                <button class="btn" id="enviar_menssagem">
                    <p>Send</p>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="popup-wrapper-chat" id="popup-wrapper-chat">
    <div class="popup-chat">
        <div class="popup-close" id="popup-close-chat">x</div>
        <h2>The result is: </h2>
        <br>
        <hr><br>
        <form action="/chat/resolved/{{dispute._id}}" method="post">
            <h4>Winner is:</h4>
            <br>
            <div class="radio">
                <input type="hidden" name="purchase" value="{{purchase._id}}">
                <input type="radio" name="winner" value="{{dispute.buyer}}">
                <label for="winner">{{purchase.buyer.username}}</label>
                <br>
                <input type="radio" name="winner" value="{{dispute.seller}}">
                <label for="winner">{{purchase.seller.username}}</label>
            </div>
            <br>
            <textarea id="menssagem_resolve" autofocus="" autocomplete="off" name="resolvedMsg"
                placeholder="Who is the winner and why?"></textarea>
            <br><br>
            <button id="enviar_menssagem_resolve" type="submit">Resolved</button>
        </form>
    </div>
</div>

<div class="popup-user" id="popup-buyer">
    <div class="popup-chat-user">
        <div class="card-user">
            <div class="top">
                <div class="space"></div>
                <img src="/images/avatar.svg">
                <button class="closeButton" id="closeButtonBuyer">Close</button>
            </div>
            <div class="about">
                <div class="left">
                    <p class="card-title"><strong>Username:</strong> {{purchase.buyer._id.username}}</p>
                    <p><strong>Role: </strong>
                        {{#if purchase.buyer._id.isSeller}} Seller{{else}}
                        {{#if purchase.buyer._id.isAdmin}} Admin{{else}}
                        {{#if purchase.buyer._id.isSuport}} Suport{{else}}
                        User
                        {{/if}}
                        {{/if}}
                        {{/if}}
                    </p>
                    <p><strong>Wallet:</strong> ${{purchase.buyer._id.wallet}}</p>
                    <p><strong>Total Disputes: </strong>{{#if
                        purchase.buyer._id.disputes.length}}{{purchase.buyer._id.disputes.length}}{{else}}0{{/if}} </p>
                    <button><a href="/suport/userdisputes/{{purchase.buyer._id._id}}" target="_blank">All
                            Disputes{{purchase.buyer._id.disputeId}}</a></button>
                </div>
                <div class="right">
                    <p><strong>Telegram: </strong> {{#if
                        purchase.buyer._id.social.Telegram}}{{purchase.buyer._id.social.Telegram}}{{else}}none{{/if}}
                    </p>
                    <p><strong>Whatsapp: </strong>{{#if
                        purchase.buyer._id.social.Whatsapp}}{{purchase.buyer._id.social.Whatsapp}}{{else}}none{{/if}}
                    </p>
                    <p><strong>Total Purchases: </strong>{{purchase.buyer._id.purchase.length}}</p>
                    <button><a href="/suport/userpurchases/{{purchase.buyer._id._id}}" target="_blank">All
                            Purchases{{purchase.buyer._id.purchaseId}}</a></button>
                </div>
            </div>
            <small><strong>Created At:</strong> {{purchase.buyer._id.createdAt}}</small>
        </div>
    </div>
</div>

<div class="popup-user" id="popup-seller">
    <div class="popup-chat-user">
        <div class="card-user">
            <div class="top">
                <div class="space"></div>
                <img src="/images/avatar.svg">
                <button class="closeButton" id="closeButtonSeller">Close</button>
            </div>
            <div class="about">
                <div class="left">
                    <p><strong>Username:</strong> {{purchase.seller._id.username}}</p>
                    <p><strong>Role: </strong>
                        {{#if purchase.seller._id.isSeller}} Seller{{else}}
                        {{#if purchase.seller._id.isAdmin}} Admin{{else}}
                        {{#if purchase.seller._id.isSuport}} Suport{{else}}
                        User
                        {{/if}}
                        {{/if}}
                        {{/if}}
                    </p>
                    <p><strong>Wallet:</strong> ${{purchase.seller._id.wallet}}</p>
                    <p><strong>Total Disputes: </strong>{{#if
                        purchase.seller._id.disputes.length}}{{purchase.seller._id.disputes.length}}{{else}}0{{/if}}
                    </p>
                    <button><a href="/suport/userdisputes/{{purchase.seller._id._id}}" target="_blank"
                            target="_blank">All
                            Disputes{{purchase.seller._id.disputeId}}</a></button>
                </div>
                <div class="right">
                    <p><strong>Telegram: </strong> {{#if
                        purchase.seller._id.social.Telegram}}{{purchase.seller._id.social.Telegram}}{{else}}none{{/if}}
                    </p>
                    <p><strong>Whatsapp: </strong>{{#if
                        purchase.seller._id.purchase.seller._id.social.Whatsapp}}{{purchase.seller._id.social.Whatsapp}}{{else}}none{{/if}}
                    </p>
                    <p><strong>Total Purchases: </strong>{{purchase.seller._id.purchase.length}}</p>
                    <button><a href="/suport/userpurchases/{{purchase.seller._id._id}}" target="_blank">All
                            Purchases{{purchase.seller._id.purchaseId}}</a></button>
                </div>
            </div>
            <small><strong>Created At:</strong> {{purchase.seller._id.createdAt}}</small>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    window.nome_usuario = "{{ username }}";
    window.time = {{ purchase.timeToSell }};
    window.purchaseId = "{{ purchase._id }}";
    window.userId = "{{ id }}";
    window.sellerId = "{{purchase.seller._id._id}}";
    window.buyerId = "{{purchase.buyer._id._id}}";
    window.sellerName = "{{purchase.seller._id.username}}";
    window.buyerName = "{{purchase.buyer._id.username}}";
</script>

<script src="/js/chat-suport.js"></script>