{{>_menuSuport}}
<div class="sub-bar">
    <p>Suport | User Purchases</p><div>{{>_msg}}</div>
</div>
<div class="content">
    <div class="products-seller">
        <h1>Purchases from {{user.username}}  </h1>
        {{#each purchase}}
            <div class="card">
                <div class="left">
                    <div class="img">
                        <img src="/uploads/{{productId.image}}" draggable="false">
                    </div>
                    <div class="about">
                        <strong>{{productId.title}}</strong>
                        <small>Quantity: {{units}}</small>
                        <p>$ {{total}}</p>
                    </div>
                </div>
                <div class="center">
                    <button><a href="/suport/user/{{seller._id}}"><strong>Seller: </strong> {{seller.username}}</a></button>
                    <button><a href="/suport/user/{{buyer._id}}"><strong>Buyer: </strong> {{buyer.username}}</a></button>
                    <small><strong>Date:</strong> {{createdAt}}</small>
                </div>
                <div class="right">
                    <p class="{{status}}"> {{status}}</p>
                </div>
            </div>
        {{else}}
            <br><br><br><br>
                <p>No Purchases</p>
        {{/each}}
    </div>
</div>